In [50]:
import re
lista = ['01/020','oi', '15/2020', 123/4123, '03/2020', "alo", '14/2020', "dificil",'05/2020', '06/2020', '12/2020', 'a/2020', 'v3/2020', '1b/2020', '22/2020', '90/2002', '12/2020', '12/2020', '43/2020', '93/2020', '11/2020', '10/19120', '25/2900', '01/2090', '03/2070', '10/1950', '80/1998', '08/1750', 'a1/2020', '01/1800', '01/2002', '06/2010', '06/2013', '02/2000', '06/2018', ]

regex = '^[0]?([1-9]|^[1][0-2])/[1]?([9][0-9]{2}|[2][0][0-2][0-9])$'

#re.search(regex, lista)
match = [item for item in lista if type(item) == str and re.search(regex, item) is not None]
match

['03/2020',
 '05/2020',
 '06/2020',
 '12/2020',
 '12/2020',
 '12/2020',
 '11/2020',
 '10/1950',
 '01/2002',
 '06/2010',
 '06/2013',
 '02/2000',
 '06/2018']

In [5]:
lista1 = ['01/020','oi', '15/2020', 123/4123, '03/2020', "alo", '14/2020', "dificil",'05/2020', '06/2020', '12/2020', 'a/2020', 'v3/2020', '1b/2020', '22/2020', '90/2002', '12/2020', '12/2020', '43/2020', '93/2020', '11/2020', '10/19120', '25/2900', '01/2090', '03/2070', '10/1950', '80/1998', '08/1750', 'a1/2020', '01/1800', '01/2002', '06/2010', '06/2013', '02/2000', '06/2018', ]

regex1 = '^[0]?([1-9]|^[1][0-2])/[1]?([9][0-9]{2}|[2][0][0-2][0-9])$'
match1 = [re.search(regex1, item).string for item in lista1 if type(item) == str if re.search(regex1, item) is not None]

display(match1)

['03/2020',
 '05/2020',
 '06/2020',
 '12/2020',
 '12/2020',
 '12/2020',
 '11/2020',
 '10/1950',
 '01/2002',
 '06/2010',
 '06/2013',
 '02/2000',
 '06/2018']

In [69]:
lista2 = [[1,2,3], [4,5,6], [7,8,9]]

display(lista2[0])
display(lista2[1])
display(lista2[2])

[1, 2, 3]

[4, 5, 6]

[7, 8, 9]

In [70]:
lista2 = [[3,6,9], [2,5,8], [1,4,7]]

display(lista2[0])
display(lista2[1])
display(lista2[2])

[3, 6, 9]

[2, 5, 8]

[1, 4, 7]

In [6]:
lista2 = [[1,2,3], [4,5,6], [7,8,9]]

lista3=[]
for j in range(len(lista2)):
    print(j)
    for i in range(j+1):
        lista3.append(lista2[j][i])

#lista3 = [lista2[j][i] for j in range(len(lista2)) for i in lista2]
lista3

0
1
2

[1, 4, 5, 7, 8, 9]

In [12]:
class Tabela:
    def __init__(self, tabela):
        self.tabela = tabela

    def extract(self, regex):
        columns = self.tabela.columns
        columns = [column for column in columns if re.search(regex, column) is not None]
        return columns

import re    
import pandas as pd
tabela = pd.DataFrame(columns=('credito', 'debito', 'movimento', 'credito.1', 'debito.1', 'movimento.1', 'credito.2', 'debito.2', 'movimento.2'), data=[[1,2,3,4,5,6,7,8,9], [11,12,13,14,15,16,17,18,19], [21,22,23,24,25,26,27,28,29], ["d", 'c', 'e', 'f', 'h','b']])

display(tabela)
display(tabela.columns)
a = Tabela(tabela)

tabela.to_excel('teste.xlsx')
regex = r'[in]to'
regex2 = r'^[d]'
print(a.extract(regex2))

,oi,ola,teste,nãosei.1,credito.1,movimento.1,nãosei.2,credito.2,movimento.2
0,1,2,3,4,5,6,7.0,8.0,9.0
1,11,12,13,14,15,16,17.0,18.0,19.0
2,21,22,23,24,25,26,27.0,28.0,29.0
3,d,c,e,f,h,b,NaN,NaN,NaN

Index(['oi', 'ola', 'teste', 'nãosei.1', 'credito.1', 'movimento.1',
       'nãosei.2', 'credito.2', 'movimento.2'],
      dtype='object')

[]